//********************
// Color Variables
//********************

// Reds

$brandColor: #fc5e92; // #fc5e92 pink used for background header and footer, and for about page heading text color. 
$youtube:  #eb3223; // #eb3223 specific red for youtube logo in social media follow on contact page. 
$brandPageLinks: #ec5c8c; // #ec5c8c navigation background color overlay on responsive mobile or tablet.  


// Whites

$brandTitlesLinks: #ffffff; // #ffffff used for navigation area heading title. Home and Contact page main header h1. Nav links in navigation full page and responsive link bottom borders. (#cccccc considering change to this white);

// Greys 

$brandFooter: #ffffff70; // #ffffff70 used for footer text for copyrights. 
$brandSocialMedia: #eee; //  #eee For social media background on contact page.
$brandEmail: #818181; //  #818181 email address on contact page. 

// Blacks

$brandtext: #000000; // #000000 text area for text in black. 
$brandInstagram: #000000; // #000000 instagram icon color

// Blues

$brandTwitter: #49a1eb; // #49a1eb twiter icon color


