@import './components/sass/main.scss';

* {
  margin: 0;
  padding:0;
  
}
html {
  font-size: 62.5%; /* 1 rem is now 1 10 pixles*/
  box-sizing: border-box; 
}
.body {
  
  display:grid;
  grid-template-rows: 5fr 50vh auto 3fr;
  /* grid-template-columns: 2fr 2fr; */
  grid-template-areas: 
  "nav"
  "main"
  "info"
  "foot";
}

.nav-area {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  /* min-height: 10vh; */
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:$brandColor ;
  color: $brandTitlesLinks;
  // color: blue;
}
.container  {
  grid-area: main;
  background: url(./img/white-bubble-illustration-1111372.jpg) no-repeat 0 -100px;
  background-size: 100%;
  background-position: center;

  /* text-align: center; */
  // color: #cf5e5e;
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container {
  background: url(./img/standing-white-t.JPG) no-repeat 0 -50px;
  background-size: 50% ;
  background-position: center;
}
.contact-container {
  background: url(./img/pexels-negative-space-33999.jpg) no-repeat 0 -50px;
  background-size: 100% ;
  background-position: center;
}
.text-area {
  grid-area: info;
  color:$brandtext;
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter ;
  padding: 40px;
  padding-top: 10px;

  text-align: center;
  line-height: 50px;
}
.footer-area {
  grid-area: foot;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:$brandColor;
  color: $brandFooter;
  font-weight: lighter;
  font-size: 0.6em;
}
/*//////////////////////////////////////////////////////////////////////////////*/
.big-show h1, .about-show h1, .contact-show h1 {
  align-content: center;
  /* padding: 120px 10px 50px 10px; */
  
   font-size: 3rem;
   /* margin-bottom: 20px; */
   color:$brandTitlesLinks;
  
   /* border-bottom: #ffffff solid 2px; */
   /* border-top: #ffffff solid 2px;*/
   font-weight: lighter;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-show h1, .contact-show h1 {
  color: $brandColor;
  // border-top: #ffffff solid 0px;
  /* padding: 120px 0 50px 0; */
}

.big-show, .about-show, .about-contact {
  /* min-height: 500px; */
  background-image: url(./img/white-bubble-illustration-1111372.jpg) no-repeat 0 -70px;
  background-size: 100%;
  background-position: center;
  text-align: center;
  // color: #cf5e5e;
  color: $brandColor;
  
}
/*//////////////////////////////////////////////////////////////////////////////*/
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
nav .logo {
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $brandColor;
  border: none;
  outline: none;
  padding: 10px;
  
 
  position: relative;
  
}
nav .logo::after  {
  content: '';
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  
  transition: transform 200ms ease-in;
  top: 0;
  width: 100%;
  height: 100%;
  left:0;
}
nav .logo::after {
  transform: scaleX(0);
  transform-origin: right;
}
nav .logo:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
nav .logo:hover {
  color: #ffffff;
}
nav .nav-links {
  display:flex;
  justify-content: space-around;
  width: 32%;
}
nav .nav-links a {
  font-size: 18px;
  font-weight: normal;
  color: $brandTitlesLinks;
  cursor: pointer;
  position: relative;
}
nav .nav-links a ::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background:black;
    // visibility: hidden;
    transform: scale(0);
    transition: transform 250ms ease-in;
    transform-origin: right;
    
}
nav .nav-links a:hover ::before {
  
  transform: scale(1);
  transform-origin: left;
}
nav .nav-links a :hover {
  color: rgba(0,0,0,0.6);
}
.current {
  color: rgba(0,0,0,0.6);
}
nav .burger {
  font-size: 28px;
  display: none;
  cursor: pointer;
}


/* Social follow */
.social-container {
  background: $brandSocialMedia;
  padding: 25px 50px;

 }
 .email-social {
   padding: 20px;
   font-size: 32px;
   font-weight: 500;
   font-style: italic;
   color:$brandEmail;
 }
a.social {
  margin: 0 2rem;
  transition: transform 250ms;
  display: inline-block;/*(Tip: For inline elemnets you cannot do a translate - there for you may have to use display: inline-block for it to work below)*/
}

a.social:hover {
  transform: translateY(-2px)/*send icons up 2px(Tip: For inline elemnets you cannot do a translate - there for you may have to use display: inline-block for it to work above)*/
}

a.youtube {
  color: $youtube;
}
a.twitter {
  color: $brandTwitter;
}
a.instagram {
  color: $brandInstagram;
}
a.github {
  color: #000000;
}

//////////////////////////////////////////
// VLog Page

.vlog-list li {
  border: 1px solid grey;
  margin: 10px;
  text-align: left;
  line-height: 50px;
  padding-left: 10px;
}
 
/*//////////////////////////////////////////////////////////////////////////////*/
@media all and (max-width: 768px) {
  
  nav .burger {
    display:block;
  }
  nav .nav-links {
    position: absolute;
    display: block;
    top:0;
    left: 0;
    height: 100vh;
    padding: 40px;
    background-color: $brandPageLinks;
    width: 50%;
    transform: translateX(-500px);
    transition:  0.5s ease-in-out;
  }
  nav .nav-links li {
    padding: 25px;
  }
  nav .nav-links li {
    border-bottom: 1px solid $brandTitlesLinks;
  }
  nav .nav-links .no-border {
  border-bottom: 0px solid;
 }
  nav .nav-links Link:hover {
    border-bottom: 0px solid $brandTitlesLinks;
  }
  .about-container {
    background: url(./img/standing-white-t.JPG) no-repeat 0 -50px;
    background-size: 100% ;
    background-position: center;
  }
  .contact-container {
    background: url(./img/pexels-negative-space-33999.jpg) no-repeat 0 -50px;
    background-size: 100% ;
    background-position: center;
  }
  .big-show h1, .about-show h1 {
    align-content: center;
    font-size: 2.5rem  ;
    // color: #fafaf8;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .contact-text {
    padding-bottom: 150px;
  }
  .about-show h1 {
    color: $brandColor;
  }
  
  
}
@media (max-width: 420px) {
  .text-area {
    font-size: 0.6em;
    line-height: 20px;
    padding: 20px;
  }
  .email-social {
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
    color:$brandEmail;
  }
  .social-container {
    background: $brandSocialMedia;
    padding: 10px;
  
   }
  
  .vlog-list li {
    border: 1px solid grey;
    margin: 10px;
    text-align: left;
    line-height: 20px;
    padding: 10px;
  }
  
}
